.dashboard {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 48px;
	width: 40%;
	min-height: 60vh;
	background-color: white;
	border-radius: 8px;
}

.navButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-top: 1px solid #4545457a;
	border-bottom: 1px solid #4545457a;
}

.navButtons a {
	padding: 8px;
	margin: 0 8px;
	text-decoration: none;
	color: #8b8b8b;
}

.navButtons a.active {
	text-decoration: underline;
	color: #454545;
}

@media (max-width: 900px) {
	.dashboard {
		width: 100%;
		margin: 16px;
	}
}
