@tailwind base;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

#root {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	background-color: #454545;
	font-family: "Josefin Sans", sans-serif;
}
